
@{
	ViewBag.Title = "Trang quản Trị";
	Layout = "~/Areas/BanGiay/Views/Shared/_Layout.cshtml";
}
@section header{
	<i class="fa fa-home ">Trang Quản Trị</i>
}

<div class="imager group">
	<div class="grid -tooltip">



		<img src="~/Assets/admin/images/flags/logosach.PNG" />
	</div>
</div>



